.artist_info_insert_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  max-width: 1200px;
  margin: auto;
}

.artist_info_insert_form .title {
  padding: var(--padding-upandbom);
  font-family: 'Oswald', sans-serif;
  font-size: calc(var(--font-large) * 2);
  text-transform: uppercase;
  margin: 5% 0;
}

.artist_info_insert_form .title a {
  color: var(--black);
}

.artist_info_insert_form .artist_info .upfile {
  border: none;
  padding: 0px;
}

.artist_info_insert_form ul {
  margin-bottom: var(--padding-upandbom);
}

.artist_info_insert_form li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.artist_info_insert_form li .classification {
  border: 1px solid var(--black);
  border-radius: 4px;
  margin: 5px;
}

.artist_info_insert_form li a {
  border: 2px solid var(--black);
  border-radius: 4px;
  text-align: center;
  width: 100%;
  background-color: var(--clear-black);
  padding: 4px;
  color: var(--white);
  margin: 5px;
}

.artist_info_insert_form a:hover {
  border: 2px solid var(--white);
}

.artist_info_insert_form li input {
  width: 100%;
}

.artist_info_insert_form li textarea {
  border: 1px solid var(--black);
  padding: var(--padding-side);
  margin: 6px;
  font-size: var(--font-medium);
  border-radius: 4px;
  width: 100%;
}

.artist_info_insert_form li i {
  font-size: calc(var(--font-large) * 1.5);
  line-height: 60px;
  margin-left: 6px;
  width: 50px;
  height: 60px;
}

/* artist_info */
.artist_info_view {
  max-width: 1200px;
  margin: auto;
}

.artist_info_view .artist_name {
  text-align: center;
  text-transform: uppercase;
  font-size: calc(var(--font-large) * 2);
  margin-top: 5%;
}

.artist_info_view .image_and_desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: calc(var(--padding-upandbom) * 2) var(--padding-upandbom) 0;
}

.artist_info_view img {
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.artist_info_view .image_and_desc .desc {
  margin: var(--padding-upandbom) 0;
  max-width: 100%;
}

.artist_info_view .links {
  display: flex;
  justify-content: center;
}

.artist_info_view .links li {
  padding: 0 var(--padding-side);
  font-size: var(--font-large);
}

.artist_info_view .btns {
  display: flex;
  justify-content: center;
  margin: var(--padding-upandbom) var(--padding-upandbom) 0;
}

.artist_info_view .btns li {
  padding: 4px var(--padding-side);
  font-size: var(--font-medium);
  border: 2px solid var(--black);
  border-radius: 4px;
  margin: 0 var(--padding-side);
  background-color: var(--clear-black);
}

.artist_info_view .btns li button {
  color: var(--white);
  font-size: var(--font-medium);
}
